/* font import url */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-pad{
    padding: 60px 0;
}
.container{
    max-width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.half-width{
    width: 48.5%;
}
.btn{
    text-decoration: none;
    background-color: #E02C6D;;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid #E02C6D;
    display: inline-block;
}
.btn:hover{
    background-color: transparent;
    color: #E02C6D;
}
.btn-l{
    padding: 10px 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: 700;
}
.btn-s{
    padding: 8px 20px;
    margin: 20px 30px;
    font-size: 14px;
}
/* banner area styles starts here */
.banner{
    background-color: #2D25A0;
}
.banner-content{
    width: 485px;
}
.banner-content h2{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.banner-content a i{
    transform: translate(5px);
    transition: .5s;
}
.banner-content a:hover i{
    transform: translate(10px);
}
.banner-thumbnail img{
    width: 100%;
    transform: scale(.8);
    transition: 1s;
}
.banner:hover .banner-thumbnail img{
    transform: scale(.9);
}
/* players area styles starts here */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 2px 2px 25px #b5b4b49b;
    transition: .5s;
}
.player:hover{
    padding: 15px;
    box-shadow: 15px 15px 35px #b5b4b49b;
}
.player-thumbnail img{
    width: 100%;

}
.player-content h3{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.player-content p{
    color: #6C6C6C;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
/* highlights area styles starts here */
.highlights-content{
    width: 485px;
}
.highlights-content h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #0A0826;
}
.highlights-content p{
    color: #6C6C6C;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.highlights-content a i{
    transform: translate(5px);
    transition: .5s;
}
.highlights-content a:hover i{
    transform: translate(10px);
}
.highlights-thumbnail img{
    width: 100%;
    transform: scale(.8);
    transition: 1s;
}
.highlights:hover .highlights-thumbnail img{
    transform: scale(.9);
}