/* font import url */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main-backgroung: #2D25A0;
    --main-color: #E02C6D;
    --heading-color:#0A0826;
    --content-color:#6C6C6C;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-pad{
    padding: 60px 0;
}
.container{
    max-width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.half-width{
    width: 48.5%;
}
.btn{
    text-decoration: none;
    background-color: var(--main-color);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid var(--main-color);
    display: inline-block;
}
.btn:hover{
    background-color: transparent;
    color: var(--main-color);
}
.btn-l{
    padding: 10px 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: 700;
}
.btn-s{
    padding: 8px 20px;
    margin: 20px 30px;
    font-size: 14px;
}
/* banner area styles starts here */
.banner{
    background-color: var(--main-backgroung);
}
.banner-content{
    width: 485px;
}
.banner-content h2{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.banner-content a i{
    transform: translate(5px);
    transition: .5s;
}
.banner-content a:hover i{
    transform: translate(10px);
}
.banner-thumbnail img{
    width: 100%;
    transform: scale(.8);
    transition: 1s;
}
.banner:hover .banner-thumbnail img{
    transform: scale(.9);
}
/* players area styles starts here */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 2px 2px 25px #b5b4b49b;
    transition: .5s;
}
.player:hover{
    padding: 15px;
    box-shadow: 15px 15px 35px #b5b4b49b;
}
.player-thumbnail img{
    width: 100%;

}
.player-content h3{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.player-content p{
    color: var(--content-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
/* highlights area styles starts here */
.highlights-content{
    width: 485px;
}
.highlights-content h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
}
.highlights-content p{
    color: var(--content-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.highlights-content a i{
    transform: translate(5px);
    transition: .5s;
}
.highlights-content a:hover i{
    transform: translate(10px);
}
.highlights-thumbnail img{
    width: 100%;
    transform: scale(.8);
    transition: 1s;
}
.highlights:hover .highlights-thumbnail img{
    transform: scale(.9);
}
/* ranking area styles starts here */
.ranking-title{
    width: 27%;
    position: relative;
}
.sticky-element {
    position: sticky;
    top: 5em;
}
.ranking-title h2{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--heading-color);
}
.ranking-title p,
.ranking-update p{
    color: var(--content-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.ranking-info{
    width: 70%;
}
.ranking-info .ranking-heading h5{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--heading-color);
}
.ranking-info table{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.ranking-info table th{
    color: var(--content-color);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.ranking-info table tr{
    cursor: pointer;
    color: var(--heading-color);
    border-bottom: 1px solid #e4e8f0;
}
.ranking-info table td{
    text-align: start;
    vertical-align: middle;
    padding: 1rem .5rem;
}
.ranking-info .country__container{
    display: inline-flex;
    width: 100%;
    padding: .5rem;
    border-radius: .375rem;
}
.ranking-info .country__image img{
    height: 44px;
    width: 66px;
}
.ranking-info .country__name{
    align-self: center!important;
    margin-left: 20px;
}
.ranking-info .full-ranking a {
    text-decoration: none;
    color: var(--main-backgroung);
}
/* footer area styles starts here */
footer .footer-info{
    width: 480px;
    margin: 0 auto;
    text-align: center;
}
footer .footer-info .logo img{
    width: 100%;
}
footer .footer-info .social ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
}
footer .footer-info .social ul li{
    margin: 10px;
}
footer .footer-info .social ul i{
    font-size: 25px;
    color: var(--content-color);

}
footer .footer-info .copyright p{
    font-size: 18px;
}